/* Universal Selector: applies styles to all HTML elements on the page. */
* {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

/* Element Selector: applies styles to elements of the specified type (p/a/html) */
header {
  background: url("../images/backgrounds/pink_blue_gradient.png") no-repeat
    scroll center top;
  font-size: large;
  color: white;
  text-align: center;
}

/* Class Selector: applies styles to a class of elements. */
.player {
  max-width: 20rem;
  margin: auto;
  border-radius: 2rem;
}

.white-background {
  background-color: white;
}

.celtics-green-background {
  background-color: rgba(0, 122, 51, 0.8);
}

.black-border {
  border: medium solid black;
}

.player-images-section,
.comment-section,
.favorite-player-section,
.input-date-section {
  margin: 3rem 3rem;
}
.comment {
  display: inline;
  color: #ffffff;
  margin: 0rem 1.25rem;
  border-radius: 0.4rem;
}
