/* Universal Selector: applies styles to all HTML elements on the page. */
* {
  font-family: Arial, Helvetica, sans-serif;
}

/* Element Selector: applies styles to elements of the specified type (p/a/html) */
header {
  background: url("../images/backgrounds/pink_blue_gradient.png") no-repeat
    scroll center top;
  font-size: large;
  color: white;
  text-align: center;
}

/* Class Selector: applies styles to a class of elements. */
.player-picture-stats {
  background-color: white;
  text-align: center;
  width: 20%;
  border: 3px solid black;
  border-radius: 25px;
}

p.dotted {
  border-style: dotted;
  border-width: thick medium;
}

p.comment {
  border-style: none none none solid;
  border-width: thick;
  border-color: rgba(0, 191, 255, 1);
  background-color: rgba(0, 191, 255, 0.2);
}
